@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ruda&display=swap');

* {
    margin: 0;
}

footer {
    height: 19vw;
    width: 100%;
    background-color: #FFF2F2;
    border: 2px solid black;

}


.f1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 20vw;
    left: 39.6vw;
}

#instagram {
    height: 3.5vw;
    width: 3.5vw;
    margin-top: 2vw;
}

#facebook {
 height: 5vw;
    width: 5vw;
    margin-top: 1.2vw;
}

#twitter {
    height: 3.1vw;
       width: 3.1vw;
       margin-top: 2.2vw;
}

footer p{
    color: #7A1858;
    font-family: 'Ruda', sans-serif;
    font-size: 1vw;
}

footer a{
    text-decoration: none;
}

.f2  {
    display: flex;
    justify-content: space-around;
    width: 16vw;
    left: 42.2vw;
    position: relative;
    margin-top: 2vw;
}

#contato {
margin-top: 2vw;
}

#line {
    height: 4vw;
}

#sobre{
    margin-top: 2vw;
}